@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

#story {
  font-family: 'Lobster', cursive;
  text-align: center;
}

#text {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  border: 1px black dashed;
  padding: 10px;
  margin: 20px;
  display: inline;
  display: block;
  display: inline-block;
}
